//card--hover
.card--hover {

	//fuck these transitions -- it's not finished yet
	&:hover {
		.card__content {
			transition: opacity ease-in .25s;
			opacity: .5;
		}
		.card--hover__text{
			transition-delay: 1s;
			transition: opacity ease-in 2s;
			opacity: 1;
			display: inherit;
		}
	}

	.card--hover__text {
		top: 0;
		a {
			font-size: 2em;
			text-decoration: none;
			color: black;
		}
		opacity: 0;
		position: absolute;
		display: none;
	}

}